.title {
  text-align: center;
  margin-bottom: 20px;
}

.sectionCenter {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 550px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.personImg {
  margin-bottom: 1rem;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
}
.name {
  text-transform: capitalize;
  margin: 10px 0;
}

.title {
  margin: 20px auto;
  text-transform: capitalize;
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
}
.icon {
  margin: 40px auto 0 auto;
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  width: 2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.67, -0.03, 0.36, 1.08);
}

.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
}

.article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.67, -0.03, 0.36, 1.08);
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}
