.exampleContainer {
  width: 98%;
  height: 100vh;
  max-height: 700px;
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-color: var(--backgroundLight); */
}
.exampleContainer img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: var(--gray2);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  font-size: 20px;
}

.next p,
.prev p {
  position: absolute;
  top: 2px;
  color: var(--color2);
}

.next {
  right: 10px;
  transition: all 0.3s;
  align-items: center;
}

.prev {
  left: 10px;
  transform: scale(-1);
  transition: all 0.3s;
}

.next:hover,
.prev:hover {
  background-color: var(--color1);
}

/* @media (max-width: 700px) {
  .exampleContainer img {
    height: 400px;
  }
} */
