.socialMediaIcon {
  border: 1px solid rgb(136, 136, 136);
  padding: 8px;
  font-size: 40px;
  cursor: pointer;
  color: var(--textLight);
  width: 40px;
  height: 40px;
}

.socialMedia {
  display: flex;
  gap: 10px;
}
