/* config 23 February */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--backgroundDark);
}

:root {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --color1: #d6a51f; /*pripary bright color */
  --color2: #002e5b; /* secondary dark color*/
  --color3: red; /* not sure */

  /* used for components background*/
  --backgroundDark: rgb(20, 20, 20);
  --backgroundLight: rgb(255, 255, 255);

  /* image backgrunds needed*/
  /* here */

  /* used for photo overlay to write text over */
  --overlayLight: rgba(0, 0, 0, 0.218);
  --overlay: rgba(0, 0, 0, 0.355);
  --overlayDark: rgba(0, 0, 0, 0.508);

  /* font colors*/
  --textLight: rgb(255, 255, 255);
  --textMedium: #737373;
  --textDark: rgb(19, 19, 19);

  /* gray colors */
  --gray10: rgb(20, 20, 20);
  --gray9: rgb(40, 40, 40);
  --gray8: rgb(70, 70, 70);
  --gray7: rgb(90, 90, 90);
  --gray6: rgb(120, 120, 120);
  --gray5: rgb(150, 150, 150);
  --gray4: rgb(180, 180, 180);
  --gray3: rgb(200, 200, 200);
  --gray2: rgb(220, 220, 220);
  --gray1: rgb(245, 245, 245);

  /* some additional colors*/
  --green: rgb(40, 186, 40);
  --red: rgb(231, 65, 65);
  --blue: blue;

  /* colors for restaurant menu*/
  --spicy: purple;
  --new: rgb(231, 65, 65);
  --vegan: rgb(40, 186, 40);
  --season: rgb(49, 145, 160);

  font-family: var(--font1); /* Nicer  font for Navigation  or Title etc... */
  font-family: var(--font2); /* fancy font can be not so much readable*/
  font-family: var(
    --font3
  ); /* signature font not readable hand writting etc...)*/
}

.menuTags {
  /* restaurant menu tags like spicy or new or vegan.... needs to add bg color */
  font-size: 10px;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  margin: auto 0;
  color: var(--textLight);
  line-height: 10px;
}

.signature {
  font-family: var(--font3);
}
/* text color classes */

.auto {
  margin: 0 auto;
}
.textLight {
  color: var(--textLight);
}
.textMedium {
  color: var(--textMedium);
}
.textDark {
  color: var(--textDark);
}
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}

/* FONT Classes */

.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.font3 {
  font-family: var(--font3);
}

.text1 {
  font-size: 15px;
  font-family: var(--font1);
  letter-spacing: 1px;
}
@media (max-width: 1000px) {
  .text1 {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .text1 {
    font-size: 13px;
  }
}

.title0 {
  font-size: 13px;
  font-weight: 400;
}

.title1 {
  font-size: 15px;
  font-weight: 500;
}

.title2 {
  font-size: 17px;
  font-weight: 500;
}

.title3 {
  font-size: 20px;
  font-weight: 500;
}

.title4 {
  font-size: 25px;
  font-weight: 600;
}

.title5 {
  font-size: 30px;
  font-weight: 600;
}
.title6 {
  font-size: 35px;
  font-weight: 600;
}
.title7 {
  font-size: 40px;
  font-weight: 600;
}
.title8 {
  font-size: 45px;
  font-weight: 700;
}
.title9 {
  font-size: 50px;
  font-weight: 700;
}
.title10 {
  font-size: 55px;
  font-weight: 700;
}
