/* HERE IS SOME OF MY READY STYLES   -  BUTTONS-TEXTS*/

/* button1 START */
.button1 {
  border: 1px solid var(--color1);
  background-color: var(--color1);
  width: max-content;
  padding: 10px 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
  color: var(--textLight);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button1:hover {
  background-color: var(--color2);
  scale: 1.04;
}
/* button1 END */

/* button2 START */
.button2 {
  border: 1px solid var(--color1);
  background-color: var(--color2);
  width: max-content;
  padding: 10px 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
  color: var(--textLight);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button2:hover {
  background-color: var(--color1);
  scale: 1.04;
}
/* button2 END */

/* elements */
/* <p classname=".twolines"></p> */
.twoLines {
  height: 4px;
  width: 100px;
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  margin: 0 auto;
}

/* mesurer <div classname="measureLine"> </div> */
.measaureLine {
  height: 17px;
  background-image: url(../../public//assets//measure.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  opacity: 0.5;
}

/* mini text in red background  */
/* <h1>Title <p className="updated">updated</p></h1> */
.updated {
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin: auto 5px;
  border-radius: 3px;
  padding: 0 5px;
  background-color: var(--red);
}

/* Text Start */

/* containers */
.container1 {
  padding: 10px;
}
.container2 {
  background-image: url(../../public//assets//white-graysh.jpeg);
  background-position: 0px 0px;
  background-size: 16px;
  padding: 100px;
}

@media (max-width: 1000px) {
  .container2 {
    padding: 50px;
  }
}

@media (max-width: 700px) {
  .container2 {
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .container2 {
    padding: 20px;
  }
}
