/* HERE IS SOME OF MY READY STYLES   -  BUTTONS-TEXTS*/

/* button1 START */
.button1 {
  border: 1px solid var(--color1);
  background-color: var(--color1);
  width: max-content;
  padding: 10px 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
  color: var(--textLight);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button1:hover {
  background-color: var(--color2);
  scale: 1.04;
}
/* button1 END */
/* button2 START */
.button2 {
  border: 1px solid var(--color2);
  background-color: var(--color2);
  width: max-content;
  padding: 10px 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
  color: var(--textLight);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button2:hover {
  background-color: var(--color1);
  scale: 1.04;
}
/* button2 END */

/* Text Start */

.text1 {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray7);
  font-family: var(--font2);
}

.text2 {
  font-size: 23px;
  padding: 10px 0;
  font-family: var(--font2);
  font-weight: 500;
}

.text3 /* text3 is medium 15px - 13px */ {
  color: var(--textMedium);
  font-family: var(--font2);
  font-size: 15px;
  display: flex;
  gap: 5px;
}
.text4 {
  color: var(--textLight);
  font-family: var(--font2);
  font-size: 14px;
  display: flex;
  gap: 5px;
}
.text10 {
  font-size: 50px;
}

/* containers */

.container1 {
  padding: 10px;
}
.container2 {
  background-image: url(../../public//assets//white-graysh.jpeg);
  background-position: 0px 0px;
  background-size: 16px;
  padding: 100px;
}

/* elements */
.twoLines {
  height: 4px;
  width: 100px;
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .text3 {
    font-size: 13px;
  }
}
/* Text END */
