/* config 23 February */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #d6a51f; /*pripary bright color */
  --color2: #002e5b; /* secondary dark color*/
  --color3: red; /* not sure */

  /* used for components background*/
  --backgroundDark: rgba(107, 73, 73, 0);
  --backgroundLight: rgb(255, 255, 255);

  /* used for photo overlay to write text over */
  --overlay: rgba(0, 0, 0, 0.548);

  /* font colors*/
  --textLight: rgb(255, 255, 255);
  --textMedium: #acacac;
  --textDark: rgb(19, 19, 19);

  /* gray colors */
  --gray10: rgb(20, 20, 20);
  --gray9: rgb(40, 40, 40);
  --gray8: rgb(70, 70, 70);
  --gray7: rgb(90, 90, 90);
  --gray6: rgb(120, 120, 120);
  --gray5: rgb(150, 150, 150);
  --gray4: rgb(180, 180, 180);
  --gray3: rgb(200, 200, 200);
  --gray2: rgb(230, 230, 230);
  --gray1: rgb(255, 255, 255);

  /* some additional colors*/
  --green: rgb(40, 186, 40);
  --red: rgb(231, 65, 65);
  --blue: blue;

  font-family: var(--font1); /* fancy font can be not so much readable*/
  font-family: var(--font2); /* text font (Navigation Font) */
  font-family: var(--font3); /* mian font (Regular Text Font)*/
}

.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.bgColor1 {
  background-color: var(--color1);
}
.bgColor2 {
  background-color: var(--color2);
}

.measaureLine {
  height: 17px;
  background-image: url(../../public//assets//measure.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  opacity: 0.5;
}

.notFound {
  background-color: var(--color1);
  height: 50vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
